# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#examples
# A style similar to the Linux Kernel style:

BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BreakAfterReturnType: All

